.Header {
	display: flex;
	justify-content: end;
	height: var(--l-Header);
	width: 100%;
	background: linear-gradient(
		90deg,
		#ededed 0%,
		#f2f2f2 100%
	);
	position: relative;
}

.AppName {
	font-size: calc(var(--l-Header) + 0.5rem);
	margin: -3px 5px 0;
	font-weight: bold;
	line-height: 1;
	color: #e3e3e3;
	transition: color ease-in-out .2s;
	position: absolute;
	left: 0;
	z-index: 1;
	white-space: nowrap;
}

.Header:hover .AppName {
	color: #c7c7c7;
}

.HeaderContent {
	display: flex;
	align-items: center;
	gap: 8px;
	z-index: 2;
}

.UserNameText {
	font-weight: bold;
}

.RoleText {

}