#ControlLayout {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	position: relative;
	background: #f9f9f9;
}

#NavBarAccessory {
	position: absolute;
	left: var(--l-NavBar);
	bottom: 0;
	height: 25px;
	right: 0;
	z-index: 5;
	color: transparent;
}

#NavBarAccessory div:first-of-type {
	width: 25px;
	height: 25px;
	border-radius: 0 0 0 25px;
	border: 3px solid var(--c-PrimaryMix-300);
	border-width: 0 0 3px 3px;
	background-color: #f5f5f5;
	position: absolute;
	z-index: 2;
}

#NavBarAccessory div:last-of-type {
	width: 25px;
	height: 25px;
	background-color: #f5f5f5;
	position: absolute;
	z-index: 1;
}

#ControlLayout::after {
	content: '';
	width: 100%;
	height: 3px;
	background: linear-gradient(270deg,
		var(--c-PrimaryBlue-300) 0%,
		var(--c-PrimaryMix-300) 25%,
		var(--c-PrimaryGreen-300) 50%,
		var(--c-PrimaryMix-300) 75%,
		var(--c-PrimaryBlue-300) 100%);
	background-size: 200%;
	animation: slide 5s infinite;
	position: absolute;
	top: var(--l-Header);
	z-index: 3;
}

@keyframes slide {
	from {
		background-position: left;
	}

	to {
		background-position: right;
	}
}

header {
	grid-area: 1 / 1 / 2 / 3;
	position: relative;
	z-index: 2;
}

nav {
	grid-area: 2 / 1 / 3 / 2;
	position: relative;
	z-index: 3;
}

main {
	grid-area: 2 / 2 / 3 / 3;
	position: relative;
	z-index: 1;
}

main {
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: 1fr;
	overflow: hidden;
	width: 100%;
	background: radial-gradient(
		farthest-corner at top left,
		rgba(214,231,240,1),
		rgba(255,255,255,1));
}

main.WithAlert {
	grid-template-rows: auto auto 1fr;
}

.PageContent.WithSideBar {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: 1fr;
	gap: 30px;
}

.SideBar {
	position: sticky;
	top: var(--l-PagePadding);
	width: 400px;
}

.SideBar > * {
	position: sticky;
	top: 0;
	width: 100%;
}

.PageContentInner {
	background-color: var(--c-Gray-200);
	padding: 30px;
	border-radius: 7pt;
	border: 2pt solid var(--c-Gray-500);
}

.Chip {
	display: flex;
	gap: 7px;
	align-items: center;
}

.Chip.Red {
	color: #c41818;
}

.Chip.Green {
	color: #0db44a;
}