/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
	:root {
		--l-Header: 2.2rem;
		--l-NavBar: 280px;
	}
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
	:root {
		--l-Header: 2.2rem;
		--l-NavBar: 290px;
	}
}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
	:root {
		--l-Header: 2.3rem;
		--l-NavBar: 290px;
	}
}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
	:root {
		--l-Header: 2.4rem;
		--l-NavBar: 300px;
	}
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
	:root {
		--l-Header: 2.5rem;
		--l-NavBar: 300px;
	}
}

/* Temporary */

#ControlLayout {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	position: relative;
	background: #f9f9f9;
}

#ControlLayout::after {
	content: '';
	width: 100%;
	height: 3px;
	background: linear-gradient(270deg,
		var(--c-PrimaryBlue-300) 0%,
		var(--c-PrimaryMix-300) 25%,
		var(--c-PrimaryGreen-300) 50%,
		var(--c-PrimaryMix-300) 75%,
		var(--c-PrimaryBlue-300) 100%);
	background-size: 200%;
	animation: slide 5s infinite;
	position: absolute;
	top: var(--l-Header);
	z-index: 3;
}

@keyframes slide {
	from {
		background-position: left;
	}

	to {
		background-position: right;
	}
}


.Header {
	grid-area: 1 / 1 / 2 / 3;
	position: relative;
	z-index: 2;
}

.NavBar {
	grid-area: 2 / 1 / 3 / 2;
	position: relative;
	z-index: 3;
}

.Main {
	grid-area: 2 / 2 / 3 / 3;
	position: relative;
	z-index: 1;
}

.Main {
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: 1fr;
	overflow: hidden;
	width: 100%;
	background: radial-gradient(
		farthest-corner at top left,
		rgba(214,231,240,1),
		rgba(255,255,255,1));
}

.PageContent.WithSideBar {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
}

.PageContentInner {
	background-color: var(--c-Gray-200);
	padding: 30px;
	border-radius: 7pt;
	border: 2pt solid var(--c-Gray-500);
}

.DataGridWrapper {
	background-color: white;
	width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.Form {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row !important;
	justify-content: center;
	gap: 40px;
}

.Form > .FormColumn {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex: 0 1 250px;
}

.Form > .FormColumn > * {
	width: 100%;
	margin-block: 8px;
}

.FormRow {
	display: flex;
	gap: 16px;
}

.FormRow > * {
	margin: 0 !important;
}

.DataGridAlert {
	width: 100%;
	padding: 13px 0;
}

.Chip {
	display: flex;
	gap: 7px;
	align-items: center;
}

.Chip.Red {
	color: #c41818;
}

.Chip.Green {
	color: #0db44a;
}