.ControlLayout {
    display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: 2.5rem 1fr;
}

.Header {
	grid-area: 1 / 1 / 2 / 3;
}

.NavBar {
	grid-area: 2 / 1 / 3 / 2;
}

.Main {
	grid-area: 2 / 2 / 3 / 3;
}

.Header {
	width: 100%;
    background: radial-gradient(
        farthest-corner at top left,
        rgba(214,231,240,1),
        rgba(255,255,255,1));
}