@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;800&display=swap');

:root {
  --c-PrimaryBlue-100: #d6e7f0;
  --c-PrimaryBlue-200: #adcee0;
  --c-PrimaryBlue-300: #84b6d1;
  --c-PrimaryBlue-400: #5b9dc1;
  --c-PrimaryBlue-500: #3285b2;
  --c-PrimaryBlue-600: #286a8e;
  --c-PrimaryBlue-700: #1e506b;
  --c-PrimaryBlue-800: #143547;
  --c-PrimaryBlue-900: #0a1b24;

  --c-PrimaryGreen-200: #a1d9b4;
  --c-PrimaryGreen-900: #d0ecda;
  --c-PrimaryGreen-300: #71c78f;
  --c-PrimaryGreen-400: #42b469;
  --c-PrimaryGreen-500: #13a144;
  --c-PrimaryGreen-600: #0f8136;
  --c-PrimaryGreen-700: #0b6129;
  --c-PrimaryGreen-800: #08401b;
  --c-PrimaryGreen-900: #04200e;

  --c-PrimaryMix-100: #cfe8e1;
  --c-PrimaryMix-200: #9fd1c4;
  --c-PrimaryMix-300: #70bba6;
  --c-PrimaryMix-400: #40a489;
  --c-PrimaryMix-500: #108d6b;
  --c-PrimaryMix-600: #0d7156;
  --c-PrimaryMix-700: #0a5540;
  --c-PrimaryMix-800: #06382b;
  --c-PrimaryMix-900: #031c15;

  --c-White: #ffffff;

  --c-Gray-100: #FBFCFD;
  --c-Gray-200: #F6F9FC;
  --c-Gray-300: #EDF4F9;
  --c-Gray-400: #EDF4F9;
  --c-Gray-500: #BAC1C6;
  --c-Gray-600: #8C9194;
  --c-Gray-700: #5D6063;
  --c-Gray-800: #2F3031;
  --c-Gray-900: #06070E;

  --c-Black: #000000;

  --l-Rounding: 7pt;
  --l-Border: 1px;
  --l-PagePadding: calc(2.5vw + 2vmin);

  --s-Standard: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

html, body, #root {
  margin: 0;
  font-family: Poppins, sans-serif;
  padding: 0;
  line-height: 1.2;
  font-size: 14px;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  -webkit-text-size-adjust: 100%; /* 2 */
}

main {
  display: block;
}


img {
  margin: 0;
  padding: 0;
  border-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

a {
  background-color: transparent;
}


/* might be temp */
* {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;
  user-select: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  border: none;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
  cursor: pointer;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

.LoadingWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoadingAnimation {
  width: 100%;
  height: 300px;
  padding-block: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.LoadingAnimation::before {
  content: '';
  width: 100%;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  animation: backgroundChange .5s ease-in-out .3s both;
  background:
  radial-gradient(
  farthest-corner at top left,
  var(--c-PrimaryBlue-300) 0%,
  var(--c-PrimaryMix-300) 50%,
  var(--c-PrimaryGreen-300) 100%);
}

@keyframes backgroundChange {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.LoadingAnimation img {
  height: 300px;
  position: relative;
  opacity: 1;
}

.LoadingAnimation::after {
  content: 'LOADING';
  font-size: 10vw;
  line-height: 0.7;
  font-weight: 900;
  position: absolute;
  z-index: 0;
  /*animation: 1.8s cubic-bezier(0.86, 0, 0.07, 1) 0.3s infinite normal both running blink;*/
  color: #ffffff;
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
}

.Fencer1 {
  z-index: 2;
  visibility: hidden;
  animation: 1.8s cubic-bezier(0.86, 0, 0.07, 1) 0.3s infinite normal none running slide-right;
}

.Fencer2 {
  z-index: 1;
  animation: 1.8s cubic-bezier(0.86, 0, 0.07, 1) 0s infinite normal none running slide-left;
}

@keyframes blink {
  0%   {opacity: 0.2;}
  50%   {opacity: 1;}
  100%   {opacity: 0.2;}
}

@keyframes slide-right {
  0%   {right: 0; opacity: 0; visibility: visible;}
  1%   {right: 0; opacity: 0}
  65%   {right: -120px; opacity: 1}
  100% {right: -120px; opacity: 0}
}

@keyframes slide-left {
  0%   {left: 0; opacity: 0}
  1%   {right: 0; opacity: 0}
  65%   {left: -120px; opacity: 1}
  100% {left: -120px; opacity: 0}
}

.MuiDataGrid-columnHeaderTitleContainer {
  text-transform: uppercase;
}

.MuiDataGrid-cellContent {
  text-transform: capitalize;
  user-select: all;
}

.MuiDataGrid-cell {
  outline: none !important;
}

.PageHeader {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: 1fr;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: #f9f9f9;
	box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.1);
}

.PageTitle {
	text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  font-size: 25px;
}

.PageContent {
	background-color: #f5f5f5;
	overflow-y: auto;
	position: relative;
	padding: var(--l-PagePadding);
}

.PageButtonsWrapper {
	display: flex;
	align-items: center;
	min-height: 38px;
}

.PageButtonsWrapper > * {
	margin: 5px 0 5px 10px !important;
}

@media screen {
  .PrintableDocument, .PrintableSticker {
    display: none !important;
  }
}

@media print {
  .Header, .NavBar, .Main, #root::after {
    display: none !important;
  }

  body, html, #root, #ControlLayout, .PrintableDocument, .PrintableSticker {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    overflow: unset !important;
    font-size: 10pt !important;
    background: transparent !important;
    background-color: transparent !important;
  }
}

#NotFoundWrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

#NotFoundHeader {
  height: 100px;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
	background-color: #f9f9f9;
  border-bottom: 5px solid #d21818;
}

#NotFoundTitle {
  font-size: 30px;
  font-weight: 900;
}

#NotFoundContent {
  display: block;
  padding: 100px;
}

#NotFoundContent p {
  display: block;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.DataGridWrapper {
	width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  background-color: white;
}

.DataGridWrapper > .MuiDataGrid-root {
	width: 100%;
  height: 100%;
}

.GridToolbar {
  padding: 8px 12px 0;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.DataGridColumnOptions {
	display: flex;
  align-items: center;
	gap: 8px;
  justify-self: start;
  margin-right: auto;
}

.Form {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row !important;
	justify-content: center;
	gap: 40px;
}

.Form > .FormColumn {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex: 0 1 250px;
}

.Form > .FormColumn > * {
	width: 100%;
	margin-block: 8px;
}

.FormRow {
	display: flex;
	gap: 16px;
}

.FormRow > * {
	margin: 0 !important;
}

.PageAlert {
	padding: 13px 26px;
  box-sizing: border-box;
  width: 100%;
  line-height: 1.2;
	background-color: white;
  border-block: 5px solid #d21818;
}

.PageAlertTitle {
  font-size: 18px;
  font-weight: 700;
}

.PageAlertSubTitle {
  font-size: 16px;
}