@media screen {
    .PrintableSticker {
        display: none !important;
    }
}

@media print {
    @page {
        size: 62mm 29mm;
        margin: 0 !important;
        padding: 0 !important;
        box-sizing: border-box;
    }

    .PrintableSticker {
        line-height: 1.4;
        font-size: 5.3pt !important;
        width: 100% !important;
        height: 100% !important;
        padding: 3mm;
        box-sizing: border-box;
        overflow: hidden !important;
    }

    .Sticker {
        width: 100%;
        height: 100%;
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 25mm 13mm 1fr 1.2mm;
    }

    .StickerCode {
        font-size: 14pt;
        text-align: center;
        align-self: center;
    }

    .StickerWhitemark {
        font-size: 3.7pt;
        line-height: 1;
        text-align: center;
        align-self: center;
    }

    svg {
        height: 23mm;
        width: 23mm;
        aspect-ratio: 1;
        display: block;
    }

}
