.NavBar {
    width: 270px;
    position: relative;
    background: linear-gradient(270deg,
    var(--c-PrimaryBlue-300) 0%,
    var(--c-PrimaryMix-300) 50%,
    var(--c-PrimaryGreen-300) 100%);
    z-index: 0;
}

.NavBarInner {
    height: 100%;
    background: radial-gradient(
        farthest-corner at top left,
        rgba(214,231,240,1),
        rgba(255,255,255,1));
    border-radius: 0 var(--l-Header) 0 0;
    z-index: 1;
}

.NavBarHead {
    height: var(--l-Header);
    background: radial-gradient(
        farthest-corner at top left,
        var(--c-PrimaryBlue-100),
        var(--c-White));
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px 0 10px;
    border-radius: 0 var(--l-Header) 0 0;
    /*border-right: 2pt solid var(--c-Gray-500);
    border-top: 2pt solid var(--c-Gray-500);*/
    border-bottom: 2pt solid var(--c-Gray-400);
}

.AppName {
    font-weight: bold;
    font-size: 18px;
}

.LogoImage {
    width: 1.5rem !important;
    height: 1.5rem !important;
    margin: 0;
}

.NavBarContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.NavBarContentInner {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.1;
}

.NavBarSectionTitle {
    font-size: 16px;
    font-weight: bold;
    color: var(--c-Gray-600);
    position: relative;
}

.NavBarSectionTitle::after {
    content: '';
    height: 2pt;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--c-Gray-600);
}

.NavBarSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding-top: 5px;
    z-index: 0;
}

.NavBarSection::before {
    content: '';
    position: absolute;
    width: 2pt;
    height: 100%;
    background-color: var(--c-Gray-600);
    left: 0.8rem;
    top: 0;
    z-index: 0;
}

.NavBarRow {
    display: flex;
    align-items: center;
    z-index: 1;
    position: relative;
    margin-top: 7px;
}

.NavBarRow:hover {

}

.NavBarIconWrapper {
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--c-White);
    border: 2pt solid var(--c-Gray-600);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NavBarIconWrapper svg {
    width: 80%;
    height: 80%;
}

.NavBarRowTitle {
    font-size: 16px;
    font-weight: bold;
    margin-left: 6px;
}

.NavBar a {
    color: var(--c-Black);
    text-decoration: none;
}

.CompetitionSelect {
    margin-block: 20px;
    z-index: 1;
    position: relative;
}

.AppNameCopyright {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.NavBarButton {
    position: absolute;
    left: calc(100% - 11px);
    top: calc(50% - 20px);
    height: 40px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--c-Gray-100);
    border: 2pt solid var(--c-Gray-500);
    border-radius: 3pt;
    cursor: pointer;
}

.NavBarButton svg {
    width: 18px;
    height: 18px;
}

/* Closed state */

.NavBar.Closed {
	width: 60px;
}

.NavBar.Closed .AppName,
.NavBar.Closed .NavBarSectionTitle,
.NavBar.Closed .NavBarRowTitle {
	display: none;
}

.NavBar.Closed .NavBarContentInner {
	padding: 0;
    align-items: center;
}

.NavBar.Closed .CompetitionSelect {
	width: 50px !important;
}

.NavBar.Closed .NavBarButton svg {
    transform: translateX(180deg);
}