.NavBar {
	width: var(--l-NavBar);
	position: relative;
	z-index: 0;
	background: #efefef;
	padding-top: -3px;
	border-top: 3px solid var(--c-PrimaryMix-300);
	border-right: 3px solid var(--c-PrimaryMix-300);
	border-radius: 0 25px 0 0;
}

@keyframes slide {
	from {
		background-position: left;
	}

	to {
		background-position: right;
	}
}

.LogoImage {
	width: 1.5rem !important;
	height: 1.5rem !important;
	margin: 0;
}

.NavBarContent {
	display: flex;
	justify-content: center;
	align-items: center;
}

.NavBarContentInner {
	padding: 30px 40px 40px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	line-height: 1.1;
}

.NavBarSectionTitle {
	font-size: 20px;
	font-weight: bold;
	color: var(--c-Gray-600);
	position: relative;
	text-transform: uppercase;
	z-index: 0;
}

.NavBarSectionTitle::after {
	content: '';
	height: 2pt;
	width: 100%;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: var(--c-Gray-600);
}

.NavBarSection {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
	padding-top: 5px;
	z-index: 0;
}

.NavBarSection::before {
	content: '';
	position: absolute;
	width: 2pt;
	height: 100%;
	background-color: var(--c-Gray-600);
	left: 0.8rem;
	top: 0;
	z-index: 0;
}

.NavBarRow {
	display: flex;
	align-items: center;
	z-index: 1;
	position: relative;
	margin-top: 7px;
}

.NavBarRow:hover {

}

.NavBarIconWrapper {
	width: 1.4rem;
	height: 1.4rem;
	background-color: var(--c-White);
	border: 2pt solid var(--c-Gray-600);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.NavBarIconWrapper svg {
	width: 80%;
	height: 80%;
}

.NavBarRowTitle {
	font-size: 16px;
	font-weight: bold;
	margin-left: 6px;
}

.NavBar a {
	color: var(--c-Black);
	text-decoration: none;
}

.CompetitionSelect {
	margin-block: 20px;
	z-index: 1;
	position: relative;
}

.AppNameCopyright {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.NavBarButton {
	position: absolute;
	left: calc(100% - 11px);
	top: calc(50% - 20px);
	height: 40px;
	width: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--c-Gray-100);
	border: 2pt solid var(--c-Gray-500);
	border-radius: 3pt;
}

.NavBarButton svg {
	width: 18px;
	height: 18px;
}

/* Closed state */

.NavBar.Closed {
	width: 60px;
}

.NavBar.Closed .AppName,
.NavBar.Closed .NavBarSectionTitle,
.NavBar.Closed .NavBarRowTitle {
	display: none;
}

.NavBar.Closed .NavBarContentInner {
	padding: 0;
	align-items: center;
}

.NavBar.Closed .CompetitionSelect {
	width: 50px !important;
}

.NavBar.Closed .NavBarButton svg {
	transform: translateX(180deg);
}

.NavBarTextButton {
	padding: 0;
	color: var(--c-Gray-800) !important;
	margin-block: 6px 10px;
	font-weight: 700;
	text-decoration: underline !important;
	font-size: 12px;
}